

/* -------------------------------------- profile ------------------------ */

.profile{
    position: relative;
    /* margin-top:5rem; */
    
}

.profile__container{
  margin-top: 3rem;
     row-gap:2rem;
}

.profile__data{
    display: flex;
    justify-content: center;
    column-gap:.5rem;
}

.profile__perfil{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.profile__border{
  border:3.5px solid var(--bg-color2);
  justify-self: center;
  width: 115px;
  height: 115px;
  border-radius: 59%;
  display: grid;
  place-items:center;
  margin-bottom:1rem;
}

.profile__perfil img{
  width: 100%;
  
}

.profile__name{
  font-size:1.4rem;
  
}

.profile__profession{
  
  font-size:.90rem;
  font-weight:600;
  margin-bottom:1rem;
}


/* ============================================ profile socail link =========================== */

.profile__social{
  display: flex;
  justify-content: center;
  column-gap:.5rem;
 
}

.profile__socail__link{
  font-size:1.4rem;
  transition: .3s;
  color: var(--bg-color6);
}
.profile__socail__link:hover{
  color: var(--bg-color3);
}


.profile__info{
  display: grid;
  grid-template-columns: repeat(3,max-content);
  justify-content: center;
  column-gap:2.5rem;
  margin-top:1rem;
  justify-content: center;   
 

  
}


.profile__buttons{
  margin-top:1.3rem;
}
.profile__info__group{
  text-align: center;
} 

.profile__info__number{
  font-size:1rem;
  margin-bottom:.25rem;
}

.profile__info__descriptions{
  font-size:.86rem;
  font-weight: 500;
  
  
}

/* =========================================================== profile button======================  */
.button{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color:var(--bg-color3);
  color:white;
  padding: 1.15rem 1.5rem;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.button i{
  font-size: 1.25rem;
}

.button:hover{
  background-color:var(--bg-color);
}

.button__small{
  padding: .75rem;
  box-shadow: none;
}

.button__gray{
    background-color: var(--bg-color);
}

.button__gray:hover{
  background-color: var(--bg-color);
}
.profile__buttons,.profile__buttons__small{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__buttons{
  column-gap: 1rem;
}

.profile__buttons__small{
  column-gap:1rem;
}


