/* --------------------  google fonts ----------------  */

@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Arimo:ital,wght@1,700&family=Kdam+Thmor+Pro&family=Lato:wght@100&family=Poppins:wght@400;500;600&family=Quattrocento&family=Roboto:ital,wght@1,100&display=swap');


:root {
  --body-font:'Kdam Thmor Pro', sans-serif;
  --bg-color:#7F5AF0;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  font-family: var(--body-font);
 
  
 
}
h1, h2, h3 {
  
  font-weight: 600;
}

ul{
  list-style: none;
}
li{
  text-decoration: none;
}
a{
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.container{
max-width: 700px;
margin: 0 auto;
}